<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aspauldingcode.wawona">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Wear OS (optional): phones still install; watch devices satisfy the feature. -->
    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="false" />

    <application
        android:name=".AndroidAppMain"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.Wawona"
        android:hasCode="true"
        android:extractNativeLibs="true"
        android:supportsRtl="true">
        
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:resizeableActivity="true"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|screenLayout"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
