# App Store Connect API Key
ASC_KEY_ID=
ASC_ISSUER_ID=
ASC_KEY_CONTENT=

# Apple Developer Team ID
TEAM_ID=

# App Identifiers
APP_IDENTIFIER=com.aspauldingcode.Wawona
ANDROID_PACKAGE_NAME=com.aspauldingcode.wawona
APPLE_ID=

# Play Store Service Account
JSON_KEY_FILE=
